.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.loader-container p{
    font-weight: 900;
    color: rgb(255, 63, 207);
}