
input {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1rem 4rem;
  border: 2px solid rgb(137, 43, 224);
  margin-bottom: 1.5rem;
  font-size: 14px;
  font-family: "Aldrich", sans-serif;
}
input:active {
  transition: 0.3s all;
  transform: translateY(3px);
  opacity: 0.8;
}
input:focus {
    color: rgb(255, 63, 207);
    border: 2px solid yellow;
}
