.weatherInfoe-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: auto;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: auto;
    min-height: 500px;
    background-color: #f9f9f9;
    border: 2px solid pink;
    padding: 1rem;
    border-radius: 8px;
    overflow: hidden;
}
.search-component{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.back-component a{
    color: blueviolet;
    font-weight: 900;
}
.weatherInfoe-elements{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin: 1rem;
    border-radius: 10px;
    width: 70vw;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    color: white;
    font-weight: 900;
    background-color: black;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading h1{
    font-size: 5rem;
    line-height: 0;
    font-family: 'Titillium Web', sans-serif;
}
.heading p{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}
.bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1rem;
    gap: 5rem; 
    padding: 1.5rem;
}

.humidity,
.windSpeed,
.pressure,
.minimumTemperature,
.maximumTemperature {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: 900;
    min-width: 20%;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.humidity svg,
.windSpeed svg,
.pressure svg,
.minimumTemperature svg,
.maximumTemperature svg {
    height: 10vH;
    width: auto;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .bottom {
        flex-direction: column; 
        align-items: center;
    }

    .humidity,
    .windSpeed,
    .pressure,
    .minimumTemperature,
    .maximumTemperature {
        flex: 1 1 100%; 
        margin-bottom: 1rem;
    }
}

