.weatherInfoe-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}
.search-component{
    margin-bottom: 3rem;
}
.back-component{
    margin-bottom: 3rem;
}
.back-component button{
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Titillium Web', sans-serif;
    color: blueviolet;
    border:rgb(255, 63, 207) ;
}
.back-component button:hover{
    background-color: rgb(255, 63, 207) ;
    color: white;
}
.weatherInfoe-elements{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(255, 63, 207);
    border-radius: 10px;
    margin: 5rem;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    color: white;
    background-color: rgb(255, 63, 207);
}
.heading h1{
    font-size: 7rem;
    line-height: 0;
    font-family: 'Titillium Web', sans-serif;
    color: blueviolet;

}
.heading p{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    color: rgb(255, 63, 207);
}

.top, .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 5px;
    font-size: 1rem;
    width: 15rem;
    margin: 1rem;
    padding-top: .5rem;
}
.details span{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: 900;
}
.details p{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: rgb(137, 43, 224);
}

@media screen and (max-width: 800px) {
    .weatherInfoe-elements{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 2px solid rgb(255, 63, 207);
        border-radius: 10px;
    }
    .location{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 3rem;
        color: white;
        background-color: rgb(255, 63, 207);
    }
}